@media(max-width: 1040px){
    .main .section{
        gap: .6rem;
    }

    .main .section .info .main-title{
        font-size: 2rem;
    }
}

@media(max-width:890px){
    .main .section{
        gap: .2rem;
    }

    .main .section .info .main-title{
        font-size: 1rem;
    }

    .main .section .info .text{
        font-size: .7rem;
    }
}

@media(max-width: 500px){
    body{
        background-color: var(--bg);
        background-image: url(../images/bg-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header{
        height: 15vh;
        align-items: end;
    }

    .header .logo{
        margin-left: 2rem;
    }

    .main{
        height: 70vh;
    }

    .main .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main .section img{
        margin: 0 2rem;
    }

    .main .section .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .main .section .info .main-title{
        font-size: 26px;
        margin: 0;
    }

    .main .section .info .text{
        text-align: center;
    }

    .footer{
        height: 15vh;
        justify-content: center;
    }

    .footer .social-networks .icons{
        margin: 0;
        margin-left: 1.2rem;
    }
}