@media(max-width: 1040px){
    .main .section{
        gap: .6rem;
    }

    .main .section .info .main-title{
        font-size: 2rem;
    }
}

@media(max-width:890px){
    body{
        background: url(../images/bg-mobile.svg) var(--bg) center no-repeat;
        background-size: cover;
    }

    .main .section{
        gap: .2rem;
    }

    .main .section .info .main-title{
        font-size: 1rem;
    }

    .main .section .info .text{
        font-size: .7rem;
    }
}

@media(max-width: 500px){
    .header{
        height: 20vh;
    }

    .header .logo{
        margin-left: 2rem;
    }

    .main{
        height: 70vh;
    }

    .main .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
    }

    .main .section img{
        margin: 0 2rem;
    }

    .main .section .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .main .section .info .main-title{
        font-size: 26px;
        margin: 0;
    }

    .main .section .info .text{
        text-align: center;
    }

    .main .section .info .btn{
        margin-top: 1.5rem;
    }

    .footer{
        height: 15vh;
        justify-content: center;
        margin-top: 6rem;
    }

    .footer .social-networks .icons{
        margin: 1rem 0 1rem 1.5rem;
    }
}