html{
    background: url(../images/bg-desktop.svg) var(--bg) center no-repeat;
    background-size: cover;
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
}

.main{
    max-width: 1440px;
}

.header{
    display: flex;
    align-items: center;
    height: 18vh;
}

.header .logo{
    margin-left: 2rem;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.main img{
    max-width: 100%;
    margin-left: 2rem;
}

.main .info{
    color: #fff;
    margin-top: 2.5rem;
}


.main .info .main-title{
    font-family: "Poppins", sans-serif;
    font-size: 3.4rem;
    font-weight: 600;
    margin: 3rem 2.5rem 0;
}

.main .info .text{
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin: 1.5rem 2.5rem 0;
}

.main .info .btn{
    font-family: "Poppins";
    font-weight: 400;
    color: var(--bg);
    width: 190px;
    height: 50px;
    border-radius: 500px;
    border: none;
    box-shadow: 1px 2px 4px #000;
    margin: 3rem 2.5rem;
}

.main .info .btn:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: var(--soft);
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0 2rem;
}

.footer .social-networks{
    display: flex;
}

.footer .social-networks .icons{
    display: flex;
    margin-right: 4.5rem;
}

.footer .social-networks .icons .facebook i{
    font-size: 2rem;
    padding: 11px 14.1px;
}

.footer .social-networks .icons .twitter i{
    font-size: 2rem;
    padding: 11px;
}

.footer .social-networks .icons .instagram i{
    padding: 10.9px 11.7px 10px;
    font-size: 2.1rem;
}

.footer .social-networks .icons i{
    font-size: 1rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
}

.footer .social-networks .icons .item{
    margin-right: 1.25rem;
}

.footer .social-networks .icons i:hover{
    color: var(--soft);
    border: 2px solid var(--soft);
    transition: 0.3s ease-in;
}