body{
    background-color: var(--bg);
    background-image: url(../images/bg-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    align-items: center;
    height: 20vh;
}

.header .logo{
    margin: 1rem 2rem 1.8rem;
}

.main{
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: 67vh;
}

.main .section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.main .section img{
    max-width: 100%;
    margin-left: 2rem;
}

.main .section .info{
    color: #fff;
    margin-top: 2.5rem;
    max-width: 100%;
}


.main .section .info .main-title{
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    margin-left: 2.5rem;
}

.main .section .info .text{
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
    letter-spacing: 1px;
    margin: .9rem 2.5rem 0;
}

.main .section .info .btn{
    font-family: "Poppins";
    font-weight: 400;
    color: var(--bg);
    width: 190px;
    height: 44px;
    border-radius: 500px;
    border: none;
    box-shadow: 1px 2px 4px #000;
    margin: 1rem 2.5rem;
}

.main .section .info .btn:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: var(--soft);
}

.footer{
    height: 13vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .social-networks{
    display: flex;
}

.footer .social-networks .icons{
    display: flex;
    margin-right: 4.5rem;
}

.footer .social-networks .icons .facebook i{
    font-size: 1.5rem;
    padding: 11px 16px;
}

.footer .social-networks .icons .twitter i{
    font-size: 1.5rem;
    padding: 11px;
}

.footer .social-networks .icons .instagram i{
    padding: 11px 12px 10px;
    font-size: 1.6rem;
}

.footer .social-networks .icons i{
    font-size: 1rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 1.25rem;
}

.footer .social-networks .icons i:hover{
    color: var(--soft);
    border: 2px solid var(--soft);
    transition: 0.3s ease-in;
}